



nav {
    border-style: solid;
    border-width: 0.15em;
    border-color: rgb(251,33,125);
    border-radius: 2em;
    padding: 1em; font-family: 'Roboto', sans-serif;  
}     
nav a {
    padding-left: 5em; 
    color: rgb(251,33,125); 
    font-family: 'Montserrat', sans-serif;
}
.row  {
    display: flex;   
}
.left-column {
    height: 40vh; 
    flex: 40%";
}
.right-column {
    height: 30vh; 
    flex: 60%; 
    /* about = fun.png */
    /* memebers = selfie.png */
     
    background-position: center; 
    background-size: contain; 
    background-repeat: no-repeat;
}

#right-col-home {
    background-image: url(images/friends.png);
}
#right-col-members {
    background-image: url(images/selfie.png);
}
#right-col-about {
    background-image: url(images/fun.png);
}

.main-heading {
    style=font-family: 'Roboto', sans-serif; 
    font-size: 3.2em; 
    color: rgb(251,33,125); 
    padding-left: 1em;

}
#content-area {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin-top: 6em;
       
}

#layout-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#password-area {
    margin-top: 5em;
    margin-left: 1em;
}